.fr-box.fr-document .fr-wrapper .fr-element{
  width: auto;
  min-width: 0;
  max-height: 26cm;
}

.fr-wrapper::after {
  cursor: not-allowed;
  clear: both;
  display: block;
  content: "End of page, click on Add page button to continue!";
  height: 0;
}